#student {
    text-align: center;
    width: 60%;
    margin: 1rem auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.Students-ul {
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
}

.Stud-li {
    padding: 0.5rem;
}

#dlt {
    background-color: red;
    padding: 0.5rem;
    margin: auto;
}

@media (max-width: 900px) {
    #student {
        width: 100%;
    }
}