#Subjects-ul {
    list-style: none;
    background-color: white;
    margin: 2rem;
    padding: 1rem;
}

.Subjects-li {
    display: flex;
    box-sizing: border-box;
    margin: 10px;
}

#Part-p {
    padding: 10px;
    margin: 10px;
    border-radius: 200px;
    background-color: rebeccapurple;
    color: white;
}

#Part-p:focus {
    outline-style: none;
}

#Part-p:active {
    background-color: tomato;
}

@media (max-width: 800px) {
    #Subjects-ul {
        margin: 10px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    #Part-p {
        margin: 0;
    }

    #Subjects-ul {
        margin: 5px;
        padding: 0;
    }

    .Subjects-li {
        margin: 10px 5px;
    }

}