#intro-page {
    background-color: #ff7f50;
    height: 105vh;
}

#subject-page {
    padding-bottom: 5rem;
    background-color: rebeccapurple;
}

.subject-page-h2 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    font-weight: 700;
}

.subject-page-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#select-sub {
    text-align: center;
    color: white;
    padding-top: 1rem;
}

#stud {
    background-color: #f35217;
}

#show-part {
    text-align: center;
}

.view-p {
    padding: 1rem;
    background-color: crimson;
    color: white;
}

.view-p:focus {
    outline-style: none;
}

.view-p:active {
    background-color: orangered;
}

.stud-h2 {
    padding-top: 2rem;
    color: wheat;
}

.stud-final-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 3rem;
    background-color: crimson;
}

.stud-final-btn:focus {
    outline: none;
}

.stud-final-btn:focus {
    background-color: lawngreen;
}